h1{
  text-align: center;
  color: rgb(255,0,0);
  font-family: 'Ultra', serif;
  font-family: 'Sedgwick Ave Display', cursive;
  text-align: center;
}
#second img{
  margin-left: 450px;
  padding: 10px;
}
body{
  background-image: url("../img/flash.jpg");
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-changer{
  display: none;
}
.card{
  margin-left: 50px;
}
.game-changer{
  color:#fff;
}
#second img{
  height: 50%;
  width: 50%;
  float: left;
}
#play{
  transition: all 0.2s ease-in-out;
  color: #fff;
  background-color: rgb(255, 0, 0);
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
#dice{
  margin-left:90px;
}
#pig{
  margin-left: 90px;
}
.player{
  color:#fff;
}
