h1{
  text-align: center;
  color: black;
}
#second img{
  margin-left: 450px;
  padding: 10px;
}
body{
  background-image: url("../img/flash.jpg");
  color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.game-changer{
  display: none;
}
.card{
  margin-left: 50px;
}
#second img{
  height: 50%;
  width: 50%;
  float: left;
}
#play{
  transition: all 0.2s ease-in-out;
  color: #fff;

}
